<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/estilos.css">
    <title>dashboard</title>
</head>
<body>
    <header>
        <h1>InmoApp</h1>
    </header>
    <div class="container">
        <ul>
            <li><a href="/formRecibo" class="enlaces-dashboard">Recibo Alquiler</a></li>
            <li><a href="formLiquidacion" class="enlaces-dashboard">Liquidación</a></li>
        </ul>
        <div class="options">
            <a href="/logout">Cerrar Sesión</a>
        </div>
        <hr>  
    </div>

</body>
</html>