<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form liquidacion</title>
    <link rel="stylesheet" href="estilos/estilos.css">
</head>
<body>
    <div class="container">
        <h2>Formulario de Liquidación</h2>
        <form th:action="@{/generarLiquidacion}" th:object="${liquidacion}" method="post">
            <div class="form-group">
                <label for="nombrePropietario">Nombre del Propietario:</label>
                <input type="text" id="nombrePropietario" th:field="*{nombrePropietario}" required /><br/>
            </div>

            <div class="form-group">
                <label for="nombreInquilino">Nombre del Inquilino:</label>
                <input type="text" id="nombreInquilino" th:field="*{nombreInquilino}" required/><br/>
            </div>

            <div class="form-group">
                <label for="porCobranza">por cobranza de alquileres realizadas en:</label>
                <input type="text" id="porCobranza" name="porCobranza" th:value="${porCobranza}" required/><br>
            </div>

            <div class="form-group">
                <label for="montoPercibido">Monto Percibido:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" id="montoPercibido" th:field="*{montoPercibido}" min="0" step="0.01" required>
                </div>
            </div>

            <div class="form-group">
                <label for="otrosConceptos">Otros Conceptos:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" id="otrosConceptos" th:field="*{otrosConceptos}" min="0" step="0.01">
                </div>
            </div>

            <div class="form-group">
                <label for="honorarios">Honorarios:</label>
                <div class="input-group">
                    <span class="input-group-addon">%</span>
                    <input type="number" id="porcentaje-honorarios" th:field="*{honorarios}" required>
                </div>
            </div>
            
            <div class="form-group">
                <label for="comentarios">Comentarios:</label>
                <textarea id="comentarios" name="comentariosDefault" th:field="*{comentariosDefault}" rows="4"></textarea>
            </div>

            <button type="submit">Generar Liquidación</button>
            <button type="reset">Borrar</button>
            <a href="/dashboard">Inicio</a>
        </form>
    </div>
</body>
</html>
